.event-preview {
    background-color: #fff;
    margin-top: 20px;
}

.event-preview__header {
    height: 180px;
    overflow: hidden;
}

.event-preview__header img {
    width: 100%;

}

.event-preview__body {
    padding: 20px 10% 10px;
    font-size: 16px;
}

.event-preview__title {
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0 0 20px;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.event-preview__text {
    height: 16em;
    line-height: 1.5em;
}

.event-preview__readmore:hover {
    background-color: #504741;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24) inset;
    color: #ffffff !important;
    cursor: pointer;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
}
.event-preview__readmore {
    background-color: #706760;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.24) inset;
    color: rgba(255, 255, 255, 0.75) !important;
    display: inline-block;
    font-weight: 400;
    font-size: inherit;
    margin: 12px 0;
    padding: 6px 18px;
    position: relative;
    min-height: 2em;
}

.box {
    color: #000;
    font-size: 1.25em;
    line-height: 1.6;
}

.headline {
    font-size: 2.7em;
    font-weight: 700;
    letter-spacing: -1.4px;
    line-height: 1.1;
    margin: 0 0 12px;
    padding: 0;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}